@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Semibold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Suprema';
  src: url('../fonts/Suprema-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Suprema';
  src: url('../fonts/Suprema-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}