@media screen and (max-width: 1400px) {
  .main{
    grid-template-areas: "header"
    "cards"
    "goals"
    "transactions"
    "statistics"
    "money";
  }
  .cards,
  .transaction{
    margin-left: 0;
  }
  .logo{
    &__text{
      display: none;
    }
  }
  .nav {
    position: relative;
    justify-content: flex-start;
    align-items: center;
    &__menu{
      position: sticky;
      top: 35%;
      &-item{
        & span {
          display: none;
        }
      }
      &-link{
        padding: 10px;
      }
    }
  }
  .premium{
    position: absolute;
    bottom: 0%;
    align-items: center;
    &__image{
      display: none;
    }
    &__text{
      display: none;
    }
    & .btn{
      & span {
        display: none;
      }
    }
  }
  .new{
    width: 45%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 768px) {
  .title{
    &__h1{
      font-size: 24px;
    }
    &__h2{
      display: none;
    }
  }
  .dashboard{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0;
  }
  .nav{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    &__menu{
      display: flex;
      margin: 0;
    }
  }
  .premium{
    position: static;
    width: auto;
  }
  .header{
    padding: 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &__user{
      margin-top: 10px;
    }
    &__mail{
      order: 2;
      margin-left: 10px;
      margin-right: 0;
    }
    &__notification{
      order: 3;
      margin-left: 10px;
    }
  } 
  .cards{
    padding: 0;
    &__content {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 20px;
      &-right{
        width: 60%;
        align-items: flex-start;
        margin-top: 20px;
        margin-left: 10px;
      }
    }
    &__descr{
      text-align: left;
    }
    &__deactivate{
      align-items: flex-start;
      margin-top: 10px;
    }
    &__card{
      border: none;
    }
  }
  .transaction{
    &__table{
      width: 100%;
      & thead{
        display: none;
      }
      & tr{
        width: 100%;
        display: flex;
        flex-direction: column;;
        justify-content: flex-start;
        align-items: flex-start;
      }
      
    }
  }
  .money{
    justify-content: space-between;
  }
  .new {
    width: 75%;
  }
  .banner{
    display: none;
  }
}
@media screen and (max-width: 768px){
  .logo{
    padding-left: 10px;
  }
  .nav{
    flex-wrap: wrap;
  }
  .premium{
    display: none;
  }
}