.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px 19px;
    background: $btn-color;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: $text-primary;
    border: none;
    border-radius: 14px;
    outline: transparent;
    cursor: pointer;
}