.card {
    width: 320px;
    height: 206px;
    background: url(../img/cloud.png) 100% 100% no-repeat,
    linear-gradient(180deg, #197BBD 0%, #3391D0 100%);
    border-radius: 26px;
    padding: 21px;
    margin: 0 10px;
    color: $card-text;
    box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.3);
    &__subtitle{
        font-family: "Suprema", sans-serif;
        font-size: 8px;
        font-weight: 700;
        text-transform: uppercase;
        opacity: .4;
    }
    &__number{
        font-family: "Quicksand", sans-serif;
        font-size: 22px;
        font-weight: 400;
        text-align: left;
        margin-top: 46px;
        word-spacing: 15px;
    }
    &__info{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 32px;
    }
    &__holder,
    &__expire{
        font-family: "Lato", sans-serif;
        font-size: 7px;
        font-weight: 500;
    }
    &__name,
    &__date{
        font-size: 13px;
        margin-top: 6px;
    }
    &__expire{
        margin-left: 45px;
    }
}