.goals {
    grid-area: goals;
    padding: 10px 30px 35px 15px;

    &__content {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    &__cards{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &__card {
        width: 158px;
        min-height: 169px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background: $card-text;
        font-family: 'Suprema', sans-serif;
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
        border-radius: 28px;
        padding: 13px 25px;
        margin-right: 15px;
    }

    &__sum {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        font-weight: 600;
        color: $text-primary;
    }

    &__date {
        font-size: 14px;
        font-weight: 400;
        color: $inactive;
    }

    &__name {
        font-size: 20px;
        font-weight: 400;
        color: $text-primary;
    }
}