.input {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: $inactive;
    border: none;
    outline: transparent;

    &_modal{
      font-size: 16px;
    }
    &-label {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        font-weight: 300;
        color: $text-primary;
        border: 1px solid $primary;
        border-radius: 8px;
        padding: 4px 10px;
        margin-right: 10px;
        &_modal{
          width: 100%;
          margin: 15px 0;
        }
    }

    &-currency {
        cursor: pointer;
        color: $inactive;
    }
}