.logo {
    & a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: "Quicksand", sans-serif;
        font-size: 17px;
        font-weight: 700;
        color: #0F4264;
        text-decoration: none;
    }

    &__text {
        margin-left: 10px;
    }
}