.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    display: none;
}

.modal {
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: $card-text;
    border-radius: 25px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);

    &__close {
        position: absolute;
        top: 20px;
        right: 25px;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        font-weight: 600;
        cursor: pointer;
    }
}


.active{
  display: block;
}