.premium {
    display: flex;
    flex-direction: column;
    align-items: start;

    &__image {
        align-self: center;
        margin-bottom: 10px;
    }

    &__text {
        width: 60%;
        align-self: center;
        text-align: center;
        font-family: 'Suprema', sans-serif;
        font-size: 9px;
        font-weight: 400;
        color: $text-primary;
        margin-bottom: 15px;
    }
}