.title {
    font-family: "Suprema", sans-serif;

    &__h1 {
        font-size: 44px;
        font-weight: 600;
        color: $text-primary;
    }

    &__h2 {
        font-size: 16px;
        font-weight: 400;
        color: $inactive;
        margin-top: 5px;
    }

    &__h3 {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        color: $text-primary;
        text-align: left;

        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 21px;
            height: 21px;
            border-radius: 100%;
            background: $btn-color;
            padding: 6px;
            margin-left: 8px;
        }
    }

    &__h4 {
        font-size: 17px;
        font-weight: 700;
    }
}